# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual Environment
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid

# Testing
.pytest_cache/
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Ruff / Mypy
.ruff_cache/
.mypy_cache/
